@import "@/styles/text";

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 15rem;
  position: relative;
}

.names {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;

  > span {
    @include heading(4);
  }
}

.statuses {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.star {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  color: var(--star);
}
