@import "@/styles/media";

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;

  @media (breakpoint(mobile-only)) {
    flex-direction: column;
    align-items: stretch;
  }

  > span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    border-radius: 999px;
    background-color: var(--baseLayerColor);

    @media (breakpoint(mobile-only)) {
      margin: 0 auto;
    }
  }
}
