@use "sass:color";

$grey100: #818d92;
$grey200: #323232;
$grey300: #212121;
$grey400: #121212;

$green100: #49a078;

$red100: #e05d66;
$red200: #d33f49;

$blue100: #04498a;
$blue200: #003566;

$yellow100: #e9c46a;

:root {
  // Layers
  --baseLayerColor: #{$grey300};
  --secondaryLayerColor: #{$grey400};
  --secondaryLayerColorHover: #{$grey200};

  // Text
  --primaryTextColor: white;
  --linkColor: white;

  // Buttons
  --primaryButtonColor: #{$blue200};
  --primaryButtonTextColor: white;
  --primaryButtonHoverColor: #{$blue100};
  --destructiveButtonColor: #{$red200};
  --destructiveButtonHoverColor: #{$red100};
  --transparentButtonTextColor: white;
  --transparentButtonHoverColor: white;

  // Inputs
  --inputBackground: white;
  --inputBackgroundHover: white;

  // Alerts
  --alertBackground: white;
  --errorAlertBackground: white;
  --errorAlertTextColor: white;

  // Status
  --win: #{$green100};
  --loss: #{$red200};
  --empty: #{$grey100};
  --star: #{$yellow100};
}
